<div class="content">
  <span style="position: absolute; right: 0; padding-right: 10px; bottom: 10px;">Si necesitas ayuda, puedes acudir a <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">esta web</a> donde podrás ver las propiedades de flexbox.</span>
  <span style="position: absolute; right: 50%; padding-right: 10px; top: 10px; display: flex; align-items: center; width: 125px; justify-content: space-around;">
    <mat-icon fontIcon="arrow_back" (click)="prevLevel()" style="cursor: pointer;"></mat-icon>
    Level {{levelNumber}}
    <mat-icon fontIcon="arrow_forward" (click)="nextLevel(false)" style="cursor: pointer;"></mat-icon>
  </span>

  <div class="problem-board">
    <div class="inside-problem-board" style="height: calc( 100vh - 200px)">
      <h1 class="title" style="padding-right: 20px;">Flexbox Forms</h1>

      <div style="flex: 1; padding-top: 20px; padding-right: 20px; overflow: auto; " [innerHtml]="sanitizedDescription"></div>

      <div class="flex-row" style="padding-right: 20px;">
        <div class="flex-column">
          <h2 class="code-title">HTML</h2>        
          <ngs-code-editor style="height:300px" [theme]="theme" [codeModel]="codeModelHtml"  [options]="options" (valueChanged)="onCodeChanged()"></ngs-code-editor>      
        </div>

        <div class="flex-column">
          <h2 class="code-title">CSS</h2>        
          <ngs-code-editor style="height:300px" [theme]="theme" [codeModel]="codeModelCss"  [options]="options" (valueChanged)="onCodeChanged()"></ngs-code-editor>      
        </div>
      </div>
    </div>    
  </div>

  <div class="board" style="display: flex; flex-direction: row;">
    <div style="display: flex; flex-direction: column; flex: 1; margin: 0 none; padding: 3rem;">
      <div style="display: block; flex: 1; box-sizing: border-box; padding: 2rem; border-radius: 1rem; background-color: hsl(0, 0%, 100%); border: 4px solid hsl(0, 0%, 90%);">
        <div [innerHtml]="sanitizedBoardStyle" style="display: none;"></div>
        <div [innerHtml]="sanitizedBoardCodeExample" class="example" style="position: absolute; width: calc(50vw - 10rem - 8px); display: flex; flex-direction: row; flex: 1; opacity: .1; pointer-events: none;"></div>
        <div [innerHtml]="sanitizedBoardCode" style="position: absolute; width: calc(50% - 10rem - 8px); display: flex; flex-direction: row; flex: 1;"></div>
        <div *ngIf="isFinished" style="position: absolute; width: calc(50% - 10rem - 8px); display: flex; flex-direction: column; flex: 1; height: 80%">
          <ng-particles style="height: 100%" [id]="'tsparticles'" [options]="particlesOptions" [particlesInit]="particlesInit"></ng-particles>          
          <div *ngIf="isLastLevel == false" style="position: absolute; top: 40%; align-items: center; width: 100%; display: flex; flex-direction: column;">
            <h1 class="title" style="margin-bottom: 25px;">¡¡ Lo conseguiste !!</h1>
            <button style="width: 200px;" mat-flat-button color="accent" (click)="nextLevel(true)">Siguiente Nivel</button>
          </div>
          <div *ngIf="isLastLevel == true" style="position: absolute; top: 40%; align-items: center; width: 100%; display: flex; flex-direction: column;">
            <h1 class="title" style="margin-bottom: 25px;">¡¡ Enhorabuena !!<br/>Terminaste el juego</h1>
          </div>
      </div>
      </div>
    </div>
  </div>

</div>